{% extends 'employees/employee_base.html' %}

{% block title %}{% block header %} Employee Filter {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello {{ logged_in_employee }}!
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}

  <h1>All Customer Filter</h1>

    <form action="{% url 'employees:filter' %}" method="POST">
      {% csrf_token %}
        <select name="weekday">
            <option value=''>None</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Wednesday">Saturday</option>
            <option value="Sunday">Sunday</option>
          <input  type="submit" value = "Filter" name = "filter">
        </select>
    </form>

  {% if filter != '' %}
    <div class = "weekly-pickups">
      {% csrf_token %}
        <h2>Customer's whose weekday pickup is {{day_of_week}}</h2>
        {% for customer in filter_results %}
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center={{customer.address}}&zoom=13&size=600x300&maptype=roadmap
        &markers=color:red|{{customer.address}}&key=AIzaSyDDPyEaPsxPfbHYjNlYm0-CkRmccSQqbtA" alt="Customer Location">
        
          <div class="card-body">
          
            <p class="card-title"><b>{{customer.name}}</b></p>
            <p class="card-text">{{customer.address}} {{customer.zip_code}}</p>
            <a href="{% url 'employees:confirm' customer.id %}" class="btn btn-primary">Confirm</a>
          </div>
        </div>
        {% endfor %}
      <br>
    </div>
    {% endif %}
  

{% endblock %}