{% extends 'employees/employee_base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello {{ employee.name }}!
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}

  <!-- <style>
    #map{
      height: 100px;
      width: 100%;
    }
    #map {
      height: 200px;
      width: 200px;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>

  <div id="map"></div>
  <script>
    function initMap(){
      var options = {
        zoom:8,
        center:{lat:28.3922,lng:80.6077}
      }

      var map = new google.maps.Map(document.getElementById('map'),options);
    }

  </script> -->

  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0SO6OEhZJk8CTA0htz25Ju1BLmtScfoU&callback=initMap">
  </script>
  
  <h3>Today's Pickups</h3>
  <div class = "todays_pickups">
    {% for customer in pickup_list %}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center={{customer.address}}&zoom=13&size=600x300&maptype=roadmap
        &markers=color:red|{{customer.address}}&key=AIzaSyDDPyEaPsxPfbHYjNlYm0-CkRmccSQqbtA" alt="Customer Location">
        
        <div class="card-body">
          
          <p class="card-title"><b>{{customer.name}}</b></p>
          <p class="card-text">{{customer.address}} {{customer.zip_code}}</p>
          <a href="{% url 'employees:confirm' customer.id %}" class="btn btn-primary">Confirm</a>
        </div>
      </div>
      <br>
    {% endfor %}
  </div>

{% endblock %}