{% extends 'customers/customer_base.html' %}

{% block title %} Customer Payment {% endblock %}

{% block header %} Customer Payment Portal {% endblock %}


{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h3>You have an outstanding balance of ${{logged_in_customer.balance}}</h3>
            </div>
        </div>
    </div>
    <div id="paypal-button-container"></div>

    <script src="https://www.paypal.com/sdk/js?client-id=AQ1zqG2l64iTDaGz1wuh-f3al6A-zjIWcaiwEUBmq0i2Y1BcRmB5BrUluEdo9DVFB-ThHR9xklywQ4So&currency=USD"></script>

<script>

    var total = '{{logged_in_customer.balance}}'
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: total
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                
                location.href = 'thankyou/'
            });
        }


    }).render('#paypal-button-container');
</script>

{% endblock %}